body {
    margin: 0;
    overflow: hidden;
    display: flex;
    background-image: url(/404_V2/img/681b00d06b2e20e4fe7c5dd5d2fcc63d-removebg-preview.png);
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}



@keyframes rotationClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationCounterClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

h1 {
    font-size: 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate( -50%, 0%);
    z-index: 1;
}
#image1 {
    animation: rotationCounterClockwise 5s linear infinite;
}
#image2 {
    animation: rotationClockwise 5s linear infinite;
}